@model CustomerProject.Models.Customer

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ButtonStyle.css" />
    <title>Customers</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    @* <script src="jquery-3.5.1.min.js"></script>*@
    <script type="text/javascript">
        function func() {
            alert("hello");
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.edit').click(function () {
                var row = $(this).closest('tr');
                var isediting = row.hasClass('isediting');
                if (isediting) {
                    $.ajax({
                        //base address/controller/Action
                        url: '/Customer/EditCustomer',
                        type: 'POST',
                        data: {
                            ID: $(this).parents('tr').children('td[name="ID"]').val(),
                            CustomerName: $(this).parents('tr').children('td[name="CustomerName"]').val(),
                            FirstName: "Arsen",
                            Age: 44,
                            ImagePath: ""
                        },
                        success: function (msg) {
                            alert(ms);
                        },
                        error: function () {
                            alert("error");
                        }
                    });

                }
                row.toggleClass('isediting'); // add a style to highlight the row
                var isediting = row.hasClass('isediting');
                $(this).parents('tr').children('td').prop('contenteditable', isediting);
                if (isediting) {
                    $(this).prop("value", "Save");
                } else {
                    $(this).prop("value", "Edit");

                }
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $('.cancel').click(function () {
                var row = $(this).closest('tr');
                var isediting = row.hasClass('isediting');
                if (isediting) {
                    row.toggleClass('isediting');
                    $('.edit').prop("value", "Edit");
                    $(this).parents('tr').children('td').prop('contenteditable', false);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.delete').click(function () {
                if (confirm("Are you sure you want to delete the record?"))
                {
                    var id = 7;
                    $.ajax({
                        //base address/controller/Action
                        url: '/Customer/DeleteCustomer/' + id,
                        type: 'DELETE',                        
                        success: function (msg) {
                            alert(ms);
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                }
            });
        });
    </script>
</head>

<body>
    <h1 style="font-weight: bold; font-size: 25px ;margin:25px "> Customers </h1>

    <p style="font-size: 20px; margin : 20px;">You can add new customer, fill the form bellow</p>
    <p> </p>
    @using (Html.BeginForm("Customers", "Customer", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary()
        <div>
            <div class="row">
                <div class=" col-25 "><label class="label">Full Name :</label></div>
                <div class=" col-75 ">@Html.TextBoxFor(x => x.CustomerName, new { @class = "textbox", Value = @Model.CustomerName })</div>
            </div>
            <div class="row">
                <div class=" col-25 "> <label class="label">FirstName : </label> </div>
                <div class=" col-75 ">@Html.TextBoxFor(x => x.FirstName, new { @class = "textbox", Value = @Model.FirstName })</div>
            </div>
            <div class="row">
                <div class=" col-25 "><label class="label">Age       : </label> </div>
                <div class=" col-75 ">
                    @Html.TextBoxFor(x => x.Age, new { @class = "textbox", Value = Model.Age })
                </div>
            </div>
            <div class="row">
                <div class=" col-25 "><label class="label">Is Active : </label></div>
                <div class=" col-75">
                    @Html.CheckBoxFor(x => x.IsActive, new { @class = "textbox" })
                </div>
            </div>
            <div class="row">
                <div class=" col-25 "> <label class="label" for="file">Avatar:</label></div>
                <div>
                    <input type="file" name="avatar" id="file" class="button" />
                </div>
            </div>
            <input type="submit" value="Add" class="button" />
        </div>
    }
    <p></p>
    <input type="submit" id="Refresh" value="Refresh" onclick="func()" class="button" />
    <p></p>
    <div>
        <table border="1" id="CustomerData" style="margin :15px">
            <tr>
                <th>ID</th>
                <th>Customer name</th>
                <th>Firstname</th>
                <th>Age</th>
                <th>Is active customer</th>
                <th>Image path</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            @foreach (var customer in ViewBag.CustomerList)
            {
                <tr>
                    <td name="ID">@customer.ID </td>
                    <td name="CustomerName">@customer.CustomerName</td>
                    <td name="FirstName">@customer.FirstName</td>
                    <td name="Age">@customer.Age </td>
                    <td name="Isactive">@customer.IsActive</td>
                    <td name="ImagePath">@customer.ImagePath</td>
                    <td><img src=@customer.ImagePath /></td>
                    <td>
                        <div class="formgroup">
                            <div class="formgroup"><input type="button" class="edit" name="EditButton" value="Edit" /></div>
                            <div class="formgroup"><input type="button" class="cancel" name="CalcelButton" value="Calcel" class="delete"></div>
                            <div class="formgroup"><input type="button" class="delete" name="DeleteButton" value="Delete"></div>
                        </div>
                    </td>
                </tr>

            }

        </table>
    </div>
</body>
</html>
















































































































